<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logo.jpg" type="image/jpeg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Mono&display=swap"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ATSA Notifier - Portal</title>
  </head>
  <body>
    <div class="wrapper">
      <main id="app">
        <nav class="header">
          <div class="header-logo">
            <img src="/img/logo.jpg" alt="ATSA Logo" />
          </div>
          <div class="header-title">
            <h1>ATSA Notifier</h1>
          </div>
        </nav>
        <div class="main-panel">
          <div id="setup" class="panel">
            <h2>Setup</h2>
            <h5>Tournament Name</h5>
            <div class="panel-item">
              <input
                type="text"
                name="tName"
                placeholder="Tournament Name"
                v-model="setup.tournamentName"
              />
            </div>
            <h5>Event Name</h5>
            <div class="panel-item">
              <input
                type="text"
                name="eName"
                placeholder="Event Name: e.g. Open Double"
                v-model="setup.eventName"
              />
            </div>
            <h5>Event Phase</h5>
            <div class="panel-item">
              <input
                type="text"
                name="ePhase"
                placeholder="Event Phase: e.g. Qualification"
                v-model="setup.eventPhase"
              />
            </div>
            <h5>Kickertool Live URL</h5>
            <div class="panel-item">
              <input
                type="text"
                name="eURL"
                placeholder="Event URL from Kickertool"
                v-model="kickertoolLiveURL"
                @input="validateKickertoolLiveURL"
                :class="kickertoolLiveURLClass"
              />
            </div>
            <h5>Discord Webhook URL</h5>
            <div class="panel-item">
              <input
                type="text"
                name="discordURL"
                placeholder="Webhook URL from Discord (optional)"
                v-model="discordWebhookURL"
                @input="validateDiscordWebhookURL"
                :class="discordWebhookURLClass"
              />
            </div>
            <h5>Feishu Webhook URL</h5>
            <div class="panel-item">
              <input
                type="text"
                name="feishuURL"
                placeholder="Webhook URL from Feishu (optional)"
                v-model="feishuWebhookURL"
                @input="validateFeishuWebhookURL"
                :class="feishuWebhookURLClass"
              />
            </div>
            <h5>Locale</h5>
            <div class="panel-item">
              <select
                class="panel-item-locale"
                v-model="setup.selectedLocale"
                @change="updateLocale"
              >
                <option v-for="locale in locales" :key="locale" :value="locale">
                  {{ locale }}
                </option>
              </select>
            </div>
            <h5>Speech Synthesizer</h5>
            <div class="panel-item">
              <select
                class="panel-item-synthesizer"
                v-model="setup.selectedVoice"
              >
                <option
                  v-for="voice in voices"
                  :key="voice.name"
                  :value="voice.name"
                >
                  {{ voice.name }} ({{ voice.lang }})
                </option>
              </select>
            </div>
            <h5>Announcement</h5>
            <div class="panel-item">
              <textarea
                class="panel-item-textarea"
                v-model="setup.text"
                placeholder="Type or edit text manually and you may send whatever you want."
              ></textarea>
            </div>
            <div class="panel-item">
              <p>
                <button @click="handleAnnounce">Announce</button>
              </p>
              <p>
                <button @click="handleReset">Reset All Data</button>
              </p>
            </div>
          </div>
          <div id="control" class="panel">
            <div class="control-panel">
              <h2>Control Panel</h2>
              <div class="control-area">
                <span class="control-sync">
                  <button @click="handleSync">Sync</button>
                </span>
                <span class="control-loading"> {{ loadingError }} </span>
              </div>
              <div class="matches">
                <div class="match" v-for="(match, index) in matches">
                  <div class="match-table">{{ match.tableNo }}</div>
                  <div class="match-team match-host">
                    <div class="match-player" v-for="player in match.team1">
                      <div class="match-player-id" v-if="player.id != ''">
                        {{ player.id.slice(-5) }}
                      </div>
                      <div class="match-player-name">{{ player.name }}</div>
                      <div class="match-player-ops">
                        <button
                          class="match-player-ops-btn"
                          @click="handleRecall(index, player.id)"
                        >
                          Recall
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="match-vs">vs.</div>
                  <div class="match-team match-away">
                    <div class="match-player" v-for="player in match.team2">
                      <div class="match-player-id" v-if="player.id != ''">
                        {{ player.id.slice(-5) }}
                      </div>
                      <div class="match-player-name">{{ player.name }}</div>
                      <div class="match-player-ops">
                        <button
                          class="match-player-ops-btn"
                          @click="handleRecall(index, player.id)"
                        >
                          Recall
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="match-bar"></div>
                  <div class="match-ops">
                    <button class="match-ops-btn" @click="handleCall(index)">
                      Call
                    </button>
                    &nbsp;
                    <button class="match-ops-btn" @click="handleEdit(index)">
                      Edit
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="control-logs">
              <h2>Logs</h2>
              <p>
                <button @click="handleClear">Clear</button>
              </p>
              <div class="logs">
                <div class="log-item" v-for="log in logs">{{ log }}</div>
              </div>
            </div>
          </div>
        </div>
        <footer>
          Copyright &copy; <a href="https://asiatablesoccer.org/">ATSA</a>,
          2024.
        </footer>
      </main>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
